body {
  margin: 0;
  padding: 1000;
  /* font-family: sans-serif; */
}

.css-test{
  /* width: 3000px;
  height: 3000px; */
  /* background-color: #FFFFFF; */
  /* text-align: center; */
  /* line-height: 300px; */
  margin: 10px ;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


